<?xml version="1.0" encoding="UTF-8"?>
<AMMensa>
    <info th:attr="status=${status.code}" th:text="${status.message}"></info>
    <menu th:if="${menu!=null}" xmlns:th="http://www.thymeleaf.org">
        <date th:attr="millis=${menu.timestamp}" th:text="${#temporals.format(menu.date, 'EEEE d MMMM Y')}"></date>
        <menuUrl th:text="${menu.url}"></menuUrl>
        <firstCourses>
            <course th:each="course : ${menu.firstCourses}">
                <name th:text="${course.name}"></name>
                <ingredients th:each="ingredient : ${course.ingredients}">
                    [[${ingredient}]]
                </ingredients>
            </course>
        </firstCourses>
        <secondCourses>
            <course th:each="course : ${menu.secondCourses}">
                <name th:text="${course.name}"></name>
                <ingredients th:each="ingredient : ${course.ingredients}">
                    [[${ingredient}]]
                </ingredients>
            </course>
        </secondCourses>
        <sideCourses>
            <course th:each="course : ${menu.sideCourses}">
                <name th:text="${course.name}"></name>
                <ingredients th:each="ingredient : ${course.ingredients}">
                    [[${ingredient}]]
                </ingredients>
            </course>
        </sideCourses>
        <fruitCourse>
            <course th:each="course : ${menu.fruitCourse}">
                <name th:text="${course.name}"></name>
            </course>
        </fruitCourse>
        <takeAwayBasket>
            <course th:object="${menu.takeAwayBasketContent}">
                <name th:text="*{name}"></name>
                <ingredients th:each="ingredient : *{ingredients}">
                    [[${ingredient}]]
                </ingredients>
            </course>
        </takeAwayBasket>
    </menu>
</AMMensa>