<menu th:attr="todayMenu=${menu.todayMenu}" xmlns:th="http://www.thymeleaf.org">
    <date th:attr="millis=${menu.timestamp}" th:text="${menu.itLocaleDateText}"></date>
    <menuUrl th:text="${menu.url}"></menuUrl>
    <firstCourses>
        <course th:each="course : ${menu.firstCourses}">
            <name th:text="${course.name}"></name>
            <ingredients th:each="ingredient : ${course.ingredients}">
                [[${ingredient}]]
            </ingredients>
        </course>
    </firstCourses>
    <secondCourses>
        <course th:each="course : ${menu.secondCourses}">
            <name th:text="${course.name}"></name>
            <ingredients th:each="ingredient : ${course.ingredients}">
                [[${ingredient}]]
            </ingredients>
        </course>
    </secondCourses>
    <sideCourses>
        <course th:each="course : ${menu.sideCourses}">
            <name th:text="${course.name}"></name>
            <ingredients th:each="ingredient : ${course.ingredients}">
                [[${ingredient}]]
            </ingredients>
        </course>
    </sideCourses>
    <fruitCourse>
        <course th:each="course : ${menu.fruitCourse}">
            <name th:text="${course.name}"></name>
        </course>
    </fruitCourse>
    <takeAwayBasket>
        <course th:object="${menu.takeAwayBasketContent}">
            <name th:text="*{name}"></name>
            <ingredients th:each="ingredient : *{ingredients}">
                [[${ingredient}]]
            </ingredients>
        </course>
    </takeAwayBasket>
</menu>